<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <div class="footer-section about">
        <h2>SRLearnX</h2>
        <p>Empowering learners worldwide with quality education and skills for the future.</p>
        <div class="social-links">
          <a href="https://www.youtube.com/@SRLearnX_education/" target="_blank"><i class="fab fa-youtube"></i></a>

          <a href="https://www.instagram.com/SRLearnX.education/" target="_blank"><i class="fab fa-instagram"></i></a>
          <a href="https://www.linkedin.com/in/SRLearnX-education-a14b2037b/" target="_blank"><i
              class="fab fa-linkedin"></i></a>

        </div>
      </div>
      <div class="footer-section links">
        <h2>Quick Links</h2>
        <ul>
          <li><a routerLink="/">Home</a></li>
          <li><a routerLink="/courses">Courses</a></li>
          <li><a routerLink="/about">About Us</a></li>
          <li><a routerLink="/contact">Contact</a></li>
          <li><a routerLink="/career">Careers</a></li>
          <li><a routerLink="/blog">Blog</a></li>
        </ul>
      </div>

      <div class="footer-section policies">
        <h2>Policies</h2>
        <ul>
          <li><a routerLink="/refund-policy">Refund & Returns Policy</a></li>
          <li><a routerLink="/terms-conditions">Terms & Conditions</a></li>
          <li><a routerLink="/privacy-policy">Privacy Policy</a></li>
        </ul>
      </div>
      <div class="footer-section contact">
        <h2>Contact Us</h2>
        <p><i class="fas fa-map-marker-alt"></i> H25, 2nd Floor, H Block, Sector 63, Noida, Uttar Pradesh 201309</p>
        <p><i class="fas fa-phone"></i> +91 120 4369986</p>
        <p><i class="fas fa-envelope"></i> education&#64;srlearnx.co.in</p>
      </div>
    </div>
    <div class="footer-bottom">
      <p>&copy; {{ currentYear }} SRLearnX. All rights reserved.</p>
    </div>
  </div>
</footer>